HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Terraform State Files
*.tfstate
*.tfstate.backup
errored.tfstate

# Ignore Terraform lock file
.terraform.lock.hcl

# Ignore Terraform Caches and Modules
.terraform/
.terraform/*

# Ignore any sensitive variable files
*.auto.tfvars
*.tfvars.json

# Ignore generated logs or debug files
crash.log